h1 {
  font-family: cursive;
  letter-spacing: 2px;
  text-shadow: 2px -2px red;
  text-align: center;
  color: blue;
}
h4 {
  letter-spacing 5px;
  color: red;
  text-shadow: 2px -2px blue;
  text-align: center;
  font-family: cursive;
